body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkblue;
}
